body {
    padding: 15px;
}

hr {
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 20px;
}



.error {
	color: red;
}

.success {
	color: green;
}

.working {
	color: blue;
}

.new {
	color: grey;
}